@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor{
animation-name: cursor;
animation-duration: 0.8s;
animation-iteration-count: infinite;
}

@keyframes cursor {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}